@model Ejercicio1Unidad1.Models.Datos
@{
    ViewData["Title"] = "Index";
}

<html>
    <head>
        <style>
            *{
                background-color:red;
            }
            p{
                font-family:Arial;
                text-align:center;
                font-size:40px;
                color:wheat;
            }
        </style>
    </head>
    <body>
        <p>
            Nombre : 
        </p>
        <p>
            @Model.Nombre
        </p>
        <p>
            Materia : 
        </p>
        <p>
            @Model.Materia
        </p>
        <p>
            Periodo :
        </p>
        <p>
            @Model.Periodo
        </p>
        <p>
            Semestre :
        </p>
        <p>
            @Model.Semestre
        </p>
    </body>
</html>
