@model Ejercicio1Unidad1.Models.Datos
@{
    ViewData["Title"] = "Index";
}

<html>
    <body>
        <p>
            Nombre : 
        </p>
        <p>
            @Model.Nombre
        </p>
        <p>
            Materia : 
        </p>
        <p>
            @Model.Materia
        </p>
        <p>
            Periodo :
        </p>
        <p>
            @Model.Periodo
        </p>
        <p>
            Semestre :
        </p>
        <p>
            @Model.Semestre
        </p>
    </body>
</html>
